.dropdown{
    position: relative;
    .dropdown-menu{
        width: max-content;
        position: absolute;
        top: 98%;
        left: 0;
        background-color: #0ea5e9;
        display: none;
    }
    &:hover{
        .dropdown-menu{
            display: block;
        }
    }
}
@media screen and (max-width:1024px) {
    ul{
        .dropdown{
            &:hover{
                .dropdown-menu{
                display: block;
                }
            }
            .dropdown-menu{
                display: none;
                position: static;
            }
            .dropdown-menu:first-child{
                padding-top: 5px;
                padding-left: 10px;
            }
        }
    }
    
}